<div fxLayout="column" fxFlexAlign="center">
  <div fxLayout="column" fxFlexAlign="center">
  <mat-accordion multi="false" >
    <mat-expansion-panel *ngFor="let prod of prods" >
      <mat-expansion-panel-header>
        {{ prod.name }}
      </mat-expansion-panel-header>
      <p>{{prod.description}}</p>
      <p>Price: {{prod.price}}</p>
      <p></p>
      <mat-action-row>
        <a mat-button color="primary">SAVE</a>
        <a mat-button color="primary">EDIT</a>
        <button mat-button color="warn">DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  </div>
  <span class="spacer"></span>
  <div fxLayout="row" fxFlexAlign="center" class="checkout">
    <button mat-raised-button color="accent" type="submit" class="btn">CHECKOUT</button>
    <span class="v-spacer "></span><p>Subtotal: $3000.00</p> <span class="v-spacer "></span><p>Number of items: 6</p>
  </div>
</div>
